body {
    font-family: "PingFang TC","Heiti TC","Microsoft JhengHei";
    background-color: #F3F3F3;
	width: 100%;
    height: 100%;
}

.footer{
	padding: 30px 20px 15px 20px;
}

.class-body1{
	margin-top: 50px;
	display: table;
	width: 100%;
	height: auto;
	padding: 50px 0;
	background: url("../img/singer_bg1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: background 200ms ease-in 100ms; /* property duration timing-function delay */
    -moz-transition: background 200ms ease-in 100ms;
    -o-transition: background 200ms ease-in 100ms;
    transition: background 200ms ease-in 100ms;
}

.class-body2{
	margin-top: 50px;
	display: table;
	width: 100%;
	height: auto;
	padding: 50px 0;
	background: url("../img/singer_bg2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: background 200ms ease-in 100ms; /* property duration timing-function delay */
    -moz-transition: background 200ms ease-in 100ms;
    -o-transition: background 200ms ease-in 100ms;
    transition: background 200ms ease-in 100ms;
}

html {
    width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

@media(max-width:768px) {
    p {
        margin: 0 0 35px;
        line-height: 1.6;
    }
}

#main .main_bg{
	position: absolute;
    z-index: -1;
    height: 100%;
    right: 0px;
}

#main .main_content{
	position: absolute;
	top: 40%;
	left: 15%;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#main .main_content .btn-group{
	top: 40px;
	margin: 0 auto;
}

@media(max-width:1367px) {
	#main .main_content{
		top: 37%;
		left: 7%;
	}
}

@media(max-width:1280px) {
	#main .main_content{
		top: 37%;
		left: 10%;
	}
}

@media(max-width:1024px) {
	#main .main_content{
		top: 60%;
		left: 20%;
		color: white;
	}
}

@media(max-width:980px) {
	#main .main_content{
		top: 20%;
		left: 22%;
		color: black;
	}
	#main #bg1{
		display: none;
	}
	#main #bg2{
		display: block !important;
	}
}

@media(max-width:800px) {
	#main .main_content{
		top: 20%;
		left: 16%;
	}
}

@media(max-width:414px) {
	#main .main_content{
		top: 10%;
		left: 20%;
	}
	#main #content1{
		display: none;
	}
	#main #content2{
		display: block !important;
	}
	#main .btn-group .btn {
		font-size: 16px !important;
	}
	#main .main_content .btn-group{
		top: 25px;
	}
}

@media(max-width:375px) {
	#main .main_content{
		top: 10%;
		left: 19%;
	}
	#main .main_content .btn-group{
		top: 30px;
	}
	#main h1 {
		font-size: 29px;
	}
	#main h3 {
		font-size: 24px;
	}
}

@media(max-width:320px) {
	#main .main_content{
		top: 10%;
		left: 22%;
	}
	#main .main_content .btn-group{
		top: 15px;
	}
	#main h1 {
		font-size: 23px;
	}
	#main h3 {
		font-size: 18px;
	}
	#main .row > .btn {
		font-size: 13px !important;
	}
}

/*singer*/
#singer{
	padding: 50px 0 0 0;
	text-align: center;
	background-color: transparent;
}

.intro {
    text-align: center;
    color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	display: table;
	width: 100%;
	height: auto;
	margin-top: 200px;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.intro .intro-body .brand-heading {
    font-size: 60px !Important;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.intro .intro-body .intro-text {
    font-size: 25px !Important;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media(max-width:768px) {
    .intro {
		margin-top: 100px;
    }
}

@media(max-width:768px) {
	.intro .intro-body .brand-heading {
        font-size: 50px !Important;
    }

    .intro .intro-body .intro-text {
        font-size: 25px !Important;
    }
}

.row > .btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

#singer .panel{
	padding: 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media(max-width:767px) {
	#singer .panel{
		padding: 5px;
	}
	#singer .panel-body h2{
		margin-top: 50px;
		font-size: 26px;
	}
}

.shape{
	border-style: solid; border-width: 0 100px 60px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape-text{
	color:#fff; font-size:16px; font-weight:bold; position:relative; right:-46px; top:0px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.content-section {
    padding-top: 170px;
}

#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
	z-index: 5;
}

#singer small{
	font-weight: 700 !important;
}

/* Flaired edges, by Tomas Theunissen */
#singer hr.style-seven {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

#singer hr.style-seven:before {
	/* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

#singer #company .row .thumbnail{
	font-size: 16px;
	text-align: left;
}

@media(max-width:767px) {
	#singer #company{
		width:98%;
	}
	#singer #company .row .thumbnail{
		width: 100%;
	}
}

#singer #company ul{
	text-align: left;
	margin-left: -20px;
}

#singer .caption .btn{
	margin-top: 20px;
}

#singer .caption .label{
	font-size: 14px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

#singer .table{
	font-size: 16px;
}

#singer .table-no{
	width: 80px;
	text-align: center;
}

@media(max-width:767px) {
	#singer .table-no{
		width: 50px;
	}
}

#photo_show{
	padding: 100px 50px 50px 70px;
	text-align: center;
}

#photo_show img{
	width: 150px;
	padding: 6px !important;
	margin: 10px;
}

@media(max-width:435px) {
	#photo_show{
		padding: 70px 0px 0px 0px;
	}

	#photo_show img{
		width: 130px;
	}
}

#class{
	padding-top: 100px;
	padding-bottom: 10px;
	overflow-x: hidden;
	font-weight: 200;
}

#class .title{
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 100px;
	letter-spacing: 5px;
}

@media screen and (max-width: 1280px) {
	#class .title{
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 480px) {
	#class .title{
		font-size:30px;
		padding-left: 45px;
		padding-right: 45px;
	}
}

#class .title span{
	border-bottom: 3px solid rgb(247,235,31);
}

#class .sub-title{
	font-size: 25px;
	font-weight: 500;
	color: gray;
}

@media screen and (max-width: 480px) {
	#class .sub-title{
		font-size:20px;
	}
}

#class .content h2{
	border-bottom: 3px solid rgb(247,235,31);
}

.loading{
	background-image: url('../img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}

/* Wrapper */
.wrapper {
	position: relative;
}

.wrapper > .inner {
	margin: 0 auto;
	width: 70em;
}

.wrapper.style1 {
	color: #777;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
	color: #555;
}

.wrapper.style1 .feature {
	background-color: #fff;
}


/* Video */
.video {
	border-radius: 0;
	border: 0;
	display: inline-block;
	position: relative;
}

/* Feature */
.feature {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 6em;
}

.feature:last-child {
	margin-bottom: 2em;
}

.feature.left {
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.feature.right {
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.feature .video {
	width: 50%;
}

.feature .content {
	padding: 2em 3em 0.1em 3em;
	width: 50%;
}

@media screen and (max-width: 1280px) {
	.feature {
		margin-bottom: 4em;
	}

	.feature .content {
		padding: 1em 2em 0.1em 2em;
	}
}

@media screen and (max-width: 980px) {
	.feature.left, .feature.right {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.feature .video {
		width: 100%;
	}

	.feature .content {
		padding: 2em 2em 0.1em 2em;
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	.feature {
		margin-bottom: 2em;
	}

	.feature .content {
		padding: 2em 1em 0.1em 1em;
	}
}

.feature {
	background-color: rgba(144, 144, 144, 0.075);
}

@media screen and (max-width: 1280px) {
	.wrapper {
		padding: 6em 0 4em 0;
	}

	.wrapper > .inner {
		width: 65em;
	}
}

@media screen and (max-width: 980px) {
	.wrapper {
		padding: 5em 3em 3em 3em;
	}

	.wrapper > .inner {
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	.wrapper {
		padding: 3em 2em 1em 2em;
	}
}

@media screen and (max-width: 480px) {
	.wrapper {
		padding: 2em 1em 0.1em 1em;
	}
}

#class #class-footer-text{
	text-align: center;
}

#album{
	width: 90%;
	padding-top: 100px;
	padding-bottom: 20px;
	margin: 0 auto;
}

#album .btn{
	margin-left: 15px;
	margin-bottom: 15px;
}

#albums-display{
	margin-top: 10px;
}

#album .panel{
	margin-bottom: 20px;
}

#album img{
	padding: 10px;
}

@media(max-width:767px) {
	#album img{
		padding-bottom: 30px;
		margin: 0 auto;
	}
}

#album .label{
	float: right;
	font-size: 12px;
	padding: 5px 10px 7px 10px;
}

#album ol li{
	 margin-left: -15px;
}

#search-display{
    padding-top: 100px;
    margin: 0 auto;
    width: 50%;
}

#contact{
	padding-top: 100px;
	width: 50%;
	margin: 0 auto;
}

#contact-form{
	padding-top: 10px;
}

@media(max-width:767px) {
	#contact{
		width: 85%;
	}
}

#contact h3{
	text-align: center;
	font-size: 24px !important;
}

#contact-form label.error{
	color: #e4007f;
	margin-left: 27%;
}

@media(max-width:767px) {
	#contact-form label.error{
		margin-left: 4%;
	}
}

@media(max-width: 1200px) {
	#contact-form label.error{
		margin-left: 3%;
	}
	#contact-form .col-sm-offset-3 {
		margin-left: 0%;
	}
}
