body{
    font-family: "PingFang TC","Heiti TC","Noto Sans TC","Microsoft JhengHei";
    background-color: #f7efec;
    font-size: 16px;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }

html {
    width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}

@media(max-width:768px) {
    p {
        margin: 0 0 35px;
        line-height: 1.6;
    }
}

.main_bg .navbar{
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    display: none;
}

.navbar{
    background-color: #d3b0a7;
    border-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover{
    color: white;
    background-color: #A56868;
}

.navbar-default .navbar-brand,
.navbar-default a:hover.navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #591212;
}

.navbar-default .navbar-brand{
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #b24949;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    color: white;
    background-color: #A56868;
}

.dropdown-menu{
    background-color: #f9f3f2;
    border: 1px solid rgba(0,0,0,0);
}

.dropdown-menu>li>a{
    color: #591212;
}

.dropdown-menu>li>a:hover{
    background-color: #EAE1E1;
}


/* 手機版Navbar的選單按鈕*/
.navbar-default .navbar-toggle{
    border-color: #591212;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #591212;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #A56868;
}

.navbar-default .navbar-collapse{
    border-color: rgba(0,0,0,0);
}

@media(max-width: 767px){

    .main_bg .navbar-collapse{
        background-color: rgba(165,104,104,0.2);
    }

    .navbar-collapse{
        background-color: #E5D1D1;
    }

    .navbar-nav>li>a,
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #591212;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #b24949;
    }
}

.main_bg{
    background-image: url('../img/main_bg-01.png');
    background-repeat: no-repeat;
    background-position: right 10% center ;
    background-size: auto 90%;
}

#main .main_content{
	position: absolute;
	top: 40%;
	left: 15%;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
    display: none;
}

#main .main_content .btn-group{
	top: 40px;
	margin: 0 auto;
}

#main #small-h4{
    margin-top: -10px;
}

#main #enter-btn{
    margin-top: -10px;
    margin-bottom: 30px;
}

@media(max-width:1367px) {
	#main .main_content{
		top: 37%;
		left: 7%;
	}
}

@media(max-width:800px) {
    .main_bg{
        background-position: center center;
        background-size: auto 80%;
    }
    #main .main_content{
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255,255,255, 0.8) ;
        padding-top: 30px;
	}
}

@media(max-width: 475px){
    #main .main_bg{
        bottom: 10%;
    }
}

@media(max-width: 320px){
    #main .main_bg{
        bottom: 0px;
    }
}


/*singer*/
#singer{
	padding: 50px 0 0 0;
	text-align: center;
	background-color: transparent;
    display: none;
}

.singer-body1{
    background-image: url('../img/singer_bg1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 40px;
    transition: background 200ms ease-in 100ms;
}

.singer-body2{
    background-image: url('../img/singer_bg2.jpg');
    background-repeat: no-repeat;
    background-position: center center ;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 40px;
    transition: background 200ms ease-in 100ms;
}

@media (max-width:768px) {
    .singer-body1 {
        background-attachment: scroll;
    }
    .singer-body2 {
        background-attachment: scroll;
    }
}

.intro {
    text-align: center;
    color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	display: table;
	width: 100%;
	height: auto;
	margin-top: 200px;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.intro .intro-body .brand-heading {
    font-size: 60px !Important;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.intro .intro-body .intro-text {
    font-size: 25px !Important;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.intro h1, .intro p{
    display: none;
}

@media(max-width:768px) {
    .intro {
		margin-top: 100px;
    }
}

@media(max-width:768px) {
	.intro .intro-body .brand-heading {
        font-size: 50px !Important;
    }

    .intro .intro-body .intro-text {
        font-size: 25px !Important;
    }
}

#go-next{
    display: none;
}

.row > .btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

#singer .panel{
	padding: 50px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media(max-width:767px) {
	#singer .panel{
		padding: 5px;
	}
	#singer .panel-body h2{
		margin-top: 50px;
		font-size: 26px;
	}
}

.shape{
	border-style: solid; border-width: 0 100px 60px 0; float:right; height: 0px; width: 0px;
	-ms-transform:rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	transform:rotate(360deg);
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape-text{
	color:#fff; font-size:16px; font-weight:bold; position:relative; right:-46px; top:0px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(30deg); /* Safari and Chrome */
	transform:rotate(30deg);
}

.content-section {
    padding-top: 170px;
}

@media(max-width:767px) {
	.content-section {
	    padding-top: 100px;
	}
}

#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
	z-index: 5;
}

#singer small{
	font-weight: 700 !important;
}

/* Flaired edges, by Tomas Theunissen */
#singer hr.style-seven {
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

#singer hr.style-seven:before {
	/* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

@media(max-width:767px){
    #singer #about-singer{
        margin-top: 200px;
    }
}

#singer #about-singer img{
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-bottom: 40px;
    border-radius: 10px;
}

#singer #company .row .thumbnail{
	font-size: 16px;
	text-align: left;
}

@media(max-width:767px) {
	#singer #company{
		width:98%;
	}
	#singer #company .row .thumbnail{
		width: 100%;
	}
}

#singer #company ul{
	text-align: left;
	margin-left: -20px;
}

#singer .caption .btn{
	margin-top: 20px;
}

#singer .caption .label{
	font-size: 14px;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

#singer .table{
	font-size: 16px;
}

#singer .table-no{
	width: 80px;
	text-align: center;
}

#singer #official p{
	font-size: 16px;
	padding-top: 10px;
}

#singer #official img{
	height: 150px;
	display: block;
    margin: 0 auto;
}

@media(max-width:767px) {
	#singer .table-no{
		width: 50px;
	}
}

#photo_show{
	padding: 100px 50px 20px 70px;
    width: 1680px;
    margin: 0 auto;
    display: none;
}

#photo_show #show_rwd{
    width: 100%;
}

@media(max-width:1680px) {
	#photo_show{
		width: 1490px;
	}
}

@media(max-width:1490px) {
	#photo_show{
		width: 1300px;
	}
}

@media(max-width:1340px) {
	#photo_show{
		width: 1110px;
	}
}

@media(max-width:1110px) {
	#photo_show{
		width: 920px;
	}
}

@media(max-width:920px) {
	#photo_show{
		width: 730px;
	}
}

@media(max-width:730px) {
	#photo_show{
		width: 540px;
	}
}

@media(max-width:540px) {
	#photo_show{
		width: 95%;
	}
    #photo_show #show_rwd{
        text-align: center;
    }
}

#photo_show img{
	width: 150px;
	padding: 6px !important;
	margin: 20px;
}

@media(max-width:540px) {
	#photo_show{
		padding: 70px 0px 20px 0px;
	}

	#photo_show img{
        margin: 10px;
		width: 130px;
	}
}

#class{
	padding-top: 100px;
	padding-bottom: 10px;
	overflow-x: hidden;
	font-weight: 200;
    font-size: 14px;
    display: none;
}

#class .title{
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 100px;
	letter-spacing: 5px;
}

@media screen and (max-width: 1280px) {
	#class .title{
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 480px) {
	#class .title{
		font-size:30px;
		padding-left: 45px;
		padding-right: 45px;
	}
}

#class .title span{
	border-bottom: 3px solid #bc7981;
}

#class .sub-title{
	font-size: 25px;
	font-weight: 500;
	color: gray;
}

@media screen and (max-width: 480px) {
	#class .sub-title{
		font-size:20px;
        margin-bottom: 20px;
	}
}

#class .content h2{
	border-bottom: 3px solid #bc7981;
}

#class img{
    cursor: pointer;
}

/* Wrapper */
.wrapper {
	position: relative;
}

.wrapper > .inner {
	margin: 0 auto;
	width: 70em;
}

.wrapper.style1 {
	color: #777;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
	color: #555;
}

.wrapper.style1 .feature {
	background-color: #fff;
}


/* Video */
.video {
	border-radius: 0;
	border: 0;
	display: inline-block;
	position: relative;
}

/* Feature */
.feature {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 6em;
}

.feature:last-child {
	margin-bottom: 2em;
}

.feature.left {
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.feature.right {
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.feature .video {
	width: 50%;
}

.feature .content {
	padding: 2em 3em 0.1em 3em;
	width: 50%;
}

@media screen and (max-width: 1280px) {
	.feature {
		margin-bottom: 4em;
	}

	.feature .content {
		padding: 1em 2em 0.1em 2em;
	}
}

@media screen and (max-width: 980px) {
	.feature.left, .feature.right {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.feature .video {
		width: 100%;
	}

	.feature .content {
		padding: 2em 2em 0.1em 2em;
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	.feature {
		margin-bottom: 2em;
	}

	.feature .content {
		padding: 2em 1em 0.1em 1em;
	}
}

.feature {
	background-color: rgba(144, 144, 144, 0.075);
}

@media screen and (max-width: 1280px) {
	.wrapper {
		padding: 6em 0 4em 0;
	}

	.wrapper > .inner {
		width: 65em;
	}
}

@media screen and (max-width: 980px) {
	.wrapper {
		padding: 5em 3em 3em 3em;
	}

	.wrapper > .inner {
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	.wrapper {
		padding: 3em 2em 1em 2em;
	}
}

@media screen and (max-width: 480px) {
	.wrapper {
		padding: 2em 1em 0.1em 1em;
	}
}

#class #class-footer-text{
	text-align: center;
}

#album{
	padding-top: 100px;
	padding-bottom: 20px;
    width: 1190px;
	margin: 0 auto;
    display: none;
}

#album #albums-display{
    width: 100%;
    margin-top: 10px;
}

#albums-display{
	margin-top: 10px;
}

@media(max-width:1190px) {
	#album{
		width: 1040px;
	}
}

@media(max-width:1040px) {
	#album{
		width: 870px;
	}
}

@media(max-width:870px) {
	#album{
		width: 700px;
	}
}

@media(max-width:700px) {
	#album{
		width: 530px;
	}
}

@media(max-width:530px) {
	#album{
		width: 95%;
	}
    #album #albums-display{
        text-align: center;
    }
}

#album #show{
	margin-left: 10px;
	margin-bottom: 20px;
	width: 130px;
}

#album .panel{
	margin-bottom: 20px;
}

#album .hover_black{
    position:relative;
    vertical-align:top;
    display: inline-block;
}

#album .hover_black:focus{
    outline: 0;
}

#album img{
	padding: 10px;
    margin: 10px;
    width: 150px;
    vertical-align:top;
}

#album .hover_black:after, #album .hover_black:before{
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#album .hover_black:after {
    content:'\A';
    width:130px; height:130px;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    margin: 20px;
}
#album .hover_black:before {
    content: attr(data-name);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:70px 20px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
#album .hover_black:hover:after, #album .hover_black:hover:before {
    opacity:1;
}

#album .popover{
    width: 100%;
    font-family: "PingFang TC","Heiti TC","Noto Sans TC","Microsoft JhengHei";
    font-size: 16px;
}

#album .popover-title{
    font-size: 18px;
}

#album .label{
	float: right;
	font-size: 12px;
	padding: 5px 10px 7px 10px;
}

#album ol li{
	 margin-left: -15px;
}



#song{
	width: 50%;
	padding-top: 100px;
	padding-bottom: 20px;
	margin: 0 auto;
}

@media(max-width:767px) {
	#song{
		width:95%;
	}
}

#search{
    padding-top: 100px;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 20px;
    display: none;
}

#search .col-lg-2{
	padding-left: 0px;
}

@media(max-width:767px) {
	#search{
		width: 90%;
		padding-top: 70px;
	}
	#search .col-lg-2{
		padding-right: 0px;
		padding-bottom: 10px;
	}
}

#search .col-lg-4{
	padding-left: 0px;
	padding-right: 0px;
}

#search-display{
	padding-top: 20px;
}

#search .panel-default>.panel-heading{
    background-color: #e8ddda;
}

#search .label{
	position: relative;
	float: right;
	font-size: 12px;
	padding: 5px 10px 7px 10px;
}

#about{
    padding-top: 20px;
    padding-bottom: 10px;
	width: 45%;
	margin: 0 auto;
    text-align: center;
    display: none;
}

#about h3{
    margin-top: 80px;
}

#about span{
    border-left: 3px solid #888888;
    border-right: 3px solid #888888;
    padding: 0px 10px 0px 10px;
}

@media(max-width:767px) {
	#about{
        width: 80%;
    }
}

#contact{
	padding-top: 100px;
    padding-bottom: 20px;
	width: 50%;
	margin: 0 auto;
    display: none;
}

#contact-form{
	padding-top: 10px;
}

@media(max-width:767px) {
	#contact{
		width: 85%;
	}
}

#contact h3{
	text-align: center;
	font-size: 24px !important;
}

#contact-form label.error{
	color: #e4007f;
	margin-left: 27%;
}

@media(max-width:767px) {
	#contact-form label.error{
		margin-left: 4%;
	}
}

@media(max-width: 1200px) {
	#contact-form label.error{
		margin-left: 3%;
	}
	#contact-form .col-sm-offset-3 {
		margin-left: 0%;
	}
}

.footer{
	padding: 30px 20px 15px 20px;
}
